html,
body{
    height: 100%;
    font-size: 1rem;
}

.gradient{
    background: rgb(15,87,131);
background: linear-gradient(90deg, rgba(15,87,131,1) 0%, rgba(55,145,200,1) 58%, rgba(63,156,213,1) 69%, rgba(0,212,255,1) 88%);
}

.page-header{
    margin-top: 4rem;
    font-size: 1.25rem;
    color: indianred;
}